# Server Settings
PORT=3000
NODE_ENV=development

# Database Settings
DATABASE_URL=postgresql://neondb_owner:npg_gGoL3axrPi0X@ep-crimson-morning-aovkjdur-pooler.c-2.ap-southeast-1.aws.neon.tech/sistem_jadwal?sslmode=require&channel_binding=require

# Connection Pool Settings
DB_POOL_MIN=2
DB_POOL_MAX=10
